body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  background-image: url(../images/bg_loading.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.c-meteor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: -1;
}
