.c-show {
  position: relative;
  width: 100%;
  height: 100%;
}

/* show cover */
.c-earthCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.c-earthCover__cover {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 375px;
  height: 600px;
  margin: -300px 0 0 -187.5px;
  background-image: url(../images/bg_index_cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
}
.c-earthCover__tips {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 325px;
  height: 89px;
  margin: -35px 0 0 -162.5px;
  background-image: url(../images/bg_tips.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.c-earthCover__hand {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 16px;
  height: 19px;
  margin-left: -8px;
  background-image: url(../images/hand.png);
  background-size: cover;
  animation: moveHand 2s linear infinite;
}
.c-earthCover__coord {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 117px;
  height: 18px;
  margin: -253px 0 0 -58.5px;
  background-size: 124px 95px;
  background-image: url(../images/bg_coord.png);
  background-repeat: no-repeat;
  transition: all .5s ease;
}

/* show earth */
.c-earth {
  position: absolute;
  top: -40px; /* to let earth right at the center of cover image */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* background video */
.c-videoSprite {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.c-videoSprite__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

/* show actions */
.c-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.c-actions__longPress {
  position: absolute;
  display: inline-block;
  left: 138px;
  bottom: 30px;
  width: 99px;
  height: 133px;
  opacity: 0;
  background-image: url(../images/btn_show.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .5s ease;
}

.c-actions__longPress.is-active {
  opacity: 1;
  animation: twinkle 2s linear infinite;
}

.c-actions__longPressText {
  position: absolute;
  display: inline-block;
  left: 146px;
  bottom: 136px;
  width: 83px;
  height: 27px;
  opacity: 0;
  background-image: url(../images/btn_show_text.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .5s ease;
}

.c-actions__longPressText.is-active {
  opacity: 1;
}

.c-actions__xplan {
  position: absolute;
  display: inline-block;
  opacity: 0;
  right: 55px;
  bottom: 52px;
  width: 66px;
  height: 70px;
  background-image: url(../images/btn_end.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .5s ease;
}

.c-actions__xplan.is-active {
  opacity: 1;
}

/* animations */
@keyframes moveHand {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(-10px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
