.c-show {
  position: absolute;
}
.c-show__cover {
  position: absolute;
  z-index: 2;
  width: 375px;
  height: 600px;
  background-image: url(../images/bg_index_cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* show cover */
.c-showCover__tips {
  display: inline-block;
  width: 325px;
  height: 89px;
  background-image: url(../images/bg_tips.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
